.headerContainer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 1;
}

.menuButton {
  display: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.menuButton:hover {
  background-color: #b0c8e2;
}

.menuButton:focus {
  outline: none;
}

.navContainer {
  display: flex;
}

@media (max-width: 700px) {
  .menuButton {
    display: inline-block;
  }

  .navContainer {
    display: none;
  }

  .mobileMenu {
    padding: 1rem;
    border-top: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
  }
}

@media (min-width: 700px) {
  .menuButton {
    display: none;
  }

  .navContainer {
    display: flex;
  }
}
