.contactsWrapper {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
}
.infoBlock {
  margin-bottom: 2rem;
}
.icon {
}
.infoLabel {
}
.infoText {
}
.infoBlock {
}

@media (max-width: 700px) {
  .contactsWrapper {
    grid-template-columns: 1fr;
  }
}
