.container {
  padding: 2rem;
}

.item {
  margin-bottom: 2rem;
  padding: 2rem;
}

.item:last-child {
  border: none;
  margin: none;
  padding: none;
}

@media (max-width: 700px) {
  .container {
    padding: 1rem;
  }

  .item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
