.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

.title {
  font-size: 1rem;
}

.socialMediaIcons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.socialLink {
  color: var(--chakra-colors-text);
  text-decoration: none;
}
