.sidebarContainer {
  flex: 1 1 33%;
}

.sidebarContent {
  background-color: var(--chakra-colors-background);
  color: var(--chakra-colors-text);
  border-radius: 8px;
  box-shadow: var(--chakra-shadows-md);
  position: relative;
}

.closeButton {
  display: none !important;
}

@media (max-width: 700px) {
  .closeButton {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--chakra-colors-warning);
    color: var(--chakra-colors-warning-contrast);
    display: none;
  }
}
