.sidebarContainer {
  flex: 1 1 33%;
}

.sidebarContent {
  border-radius: 4px;
  box-shadow: var(--chakra-shadows-md);
  position: relative;
}

.closeButton {
  display: none !important;
}

@media (max-width: 700px) {
  .closeButton {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
}
