.listItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: none;
  border-right: none;
  border-left: none;
}

.listItem:last-child {
  border: none;
}

.position {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.positionContent {
  display: flex;
  flex-direction: column;
}

.positionContentMobile {
  flex-direction: column;
}

.positionLogo {
  margin-bottom: 1rem;
}

.positionLogoMobile {
  margin-right: 0;
  margin-bottom: 0.5rem;
}

.positionText {
  text-align: left;
}

.contractorPositions {
  margin-top: 1rem;
  padding-left: 1rem;
}

.contractorPositionsMobile {
  padding-left: 0.5rem;
}

.contractor {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contractorLogo {
  margin-right: 0.5rem;
}

.contractorLogoMobile {
  margin-right: 0;
  margin-bottom: 0.5rem;
}

.contractorText {
  text-align: left;
}
