.container {
  position: relative;
}

.sidebar {
  width: 33%;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  padding: 2rem;
  position: relative;
  transition: transform 0.3s ease;
}

.sidebarOpen {
  transform: translateX(0);
}

.mainContent {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  min-height: 100vh;
}

.menuButton {
  display: none !important;
}

@media (max-width: 700px) {
  .sidebar {
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 900;
  }

  .sidebarOpen {
    transform: translateX(0);
  }

  .mainContent {
    margin-left: 0;
  }

  .menuButton {
    display: block !important;
    z-index: 1000;
    position: fixed !important;
    top: 50%;
    left: 0px;
    height: 30%;
    transform: translateY(-50%);
    border: 1px solid rgb(162, 162, 162);
  }
}

@media (min-width: 700px) {
}
