.sectionContainer {
  position: relative;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.sectionContainer:last-child {
  border: none;
}

.title {
  display: block;
  margin-bottom: 1rem;
}
