.sectionContainer {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.sectionContainer:last-child {
  border: none;
}
